/*STYLE1*/
.pagination1 li		
{ 
	float:left; 
	margin:0 5px 0 0;
}
.pagination1 li a	
{ 
	color:#ffffff; 
	padding:4px 9px; 
	border-radius:5px; 
	background: #6e99e2;
	float:left;
}
.pagination1 li a.active,
.pagination1 li a:hover	
{ 
	background: #4f7796;
}


/*STYLE2*/
.pagination2 li		
{ 
	float:left; 
}
.pagination2 li a	
{ 
	color:#7d7e7d; 
	font-weight:bold;
	padding:9px 12px; 
	border-bottom:5px solid #a13bcf;
	float:left;
}
.pagination2 li a.active,
.pagination2 li a:hover	
{ 
	color:#f03fb3;
	border-bottom:5px solid #f03fb3 ;
}



/*STYLE3*/
.pagination3 li		
{ 
	float:left; 
}
.pagination3 li a	
{ 
	color:#ffffff; 
	padding:9px 12px; 
	border-left:1px solid #dfdddd;
	background: #e45908; 
	float:left;
	
}
.pagination3 li a.first
{	
	border-radius:20px 0 0 20px; 
	border-left:none;
}
.pagination3 li a.last
{	
	border-radius:0 20px 20px 0; 
}

.pagination3 li a.active,
.pagination3 li a:hover	
{ 
	background: #c22a27;
}




/*STYLE4*/
.pagination4 li		
{ 
	float:left; 
}
.pagination4 li a	
{ 
	color:#7d7e7d; 
	font-weight:bold;
	padding:9px 12px; 
	border-top:2px solid #7d7e7d; 
	border-bottom:2px solid #7d7e7d; 
	float:left;
}
.pagination4 li a.active,
.pagination4 li a:hover	
{ 
	color:#df6d6d;
	border-top:2px solid #df6d6d ; 
	border-bottom:2px solid #df6d6d ; 
}




/*STYLE5*/
.pagination5 li		
{ 
	float:left; 
	margin:0 8px; 
}
.pagination5 li a	
{ 
	color:#7d7e7d; 
	font-weight:bold;
	float:left;
}
.pagination5 li a.active,
.pagination5 li a:hover	
{ 
	color:#ff1a00;
}




/*STYLE6*/
.pagination6 li		
{ 
	float:left; 
	margin-right:5px;
	
}
.pagination6 li a	
{ 
	color:#7d7e7d; 
	font-weight:bold;
	border:1px solid #7d7e7d; 
	padding:6px 12px; 
	float:left;
}
.pagination6 li a.active,
.pagination6 li a:hover	
{ 
	color:#b4df5b;
	border:1px solid #b4df5b; 
}




/*STYLE7*/
.pagination7 li		
{ 
	float:left; 
	margin-right:5px;
	
}
.pagination7 li a	
{ 
	color:#7d7e7d; 
	font-weight:bold;
	border:1px solid #7d7e7d; 
	padding:6px 12px; 
	border-bottom:4px solid #7d7e7d; 
	float:left;
}

.pagination7 li a.active,
.pagination7 li a:hover	
{ 
	color:#cf0404;
	border:1px solid #cf0404; 
	border-bottom:4px solid #cf0404; 
}





/*STYLE8*/
.pagination8 li		
{ 
	float:left; 
	margin-right:5px;
	
	
}
.pagination8 li a	
{ 
	color:#7d7e7d; 
	font-weight:bold;
	border:1px solid #f13eb3; 
	padding:6px 12px; 
	float:left;
	
}

.pagination8 li a.active,
.pagination8 li a:hover	
{ 
	color:#ffffff;
	background:#f13eb3; 
	
}





/*STYLE9*/
.pagination9
{
	padding:8px;	
	background:#f49c22;
	height:32px;
	border-radius:10px;  
	
}
.pagination9 li		
{ 
	float:left;
	margin-right:5px;
	
}
.pagination9 li a	
{ 
	color:#ffffff; 
	font-weight:bold;
	border:1px solid #ffffff; 
	padding:6px 12px;
	float:left;
	border-radius:10px;  
	float:left;
	
}

.pagination9 li a.active,
.pagination9 li a:hover	
{ 
	color:#000000;
	background:#ffe9cb;
	border:1px solid #fac695;
	
}



/*STYLE10*/
.pagination10 li		
{ 
	float:left;
	margin-right:5px;
	
}
.pagination10 li a	
{ 
	color:#13a681; 
	font-weight:bold;
	border:1px solid #13a681; 
	padding:6px 12px;
	float:left;
	border-radius:30px;  
	float:left;
	
}

.pagination10 li a.active,
.pagination10 li a:hover	
{ 
	color:#ffffff;
	background:#de6c6c;
	border:1px solid #de6c6c;	
}


/*STYLE11*/
.pagination11 li		
{ 
	float:left; 
}
.pagination11 li a	
{ 
	color:#7d7e7d; 
	font-weight:bold;
	padding:6px 12px;
	float:left;
	border-bottom:5px solid #7d7e7d;
}

.pagination11 li a.active,
.pagination11 li a.active:hover
{
	color:#ffffff;
	background:#76dfc4;
	border-bottom:5px solid #76dfc4 ;
}
.pagination11 li a:hover	
{ 
	color:#ff0084;
	border-bottom:5px solid #ff0084;
}


/*STYLE12*/
.pagination12
{
	background:#d4d4d4;
	height:32px;
	border-bottom:5px solid #5d5d5d;
}
.pagination12 li		
{ 
	float:left; 
}
.pagination12 li a	
{ 
	color:#666666; 
	font-weight:bold;
	padding:6px 12px;
	float:left;
	
}

.pagination12 li a.active,
.pagination12 li a.active:hover
{
	color:#ffffff;
	background:#898989;
	border-bottom:7px solid #898989;
}
.pagination12 li a:hover	
{ 
	color:#ff0084;
	border-bottom:7px solid #ff0084;
}


/*STYLE13*/
.pagination13
{
	background:#e9f4ff;
	height:32px;
	border-left:2px solid #5d5d5d;
	border-bottom:5px solid #5d5d5d;
}
.pagination13 li		
{ 
	float:left; 
}
.pagination13 li a	
{ 
	color:#666666; 
	font-weight:bold;
	padding:6px 12px;
	float:left;
	
}

.pagination13 li a.active,
.pagination13 li a.active:hover
{
	color:#ffffff;
	background:#4096ee;
	border-bottom:7px solid #4096ee ;
}
.pagination13 li a:hover	
{ 
	color:#4096ee;
	border-bottom:7px solid #4096ee;
}


/*STYLE14*/
.pagination14 li		
{ 
	float:left; 
}
.pagination14 li a	
{ 
	color:#666666; 
	font-weight:bold;
	padding:6px 12px;
	float:left;
	
}

.pagination14 li a.active,
.pagination14 li a:hover
{
	color:#f13eb3;
	border-bottom:4px solid #f13eb3 ;
}


/*STYLE15*/
.pagination15
{
	background:#ebebeb;
	height:32px;	
	border-right:2px solid #5d5d5d;
}
.pagination15 li		
{ 
	float:left; 
}
.pagination15 li a	
{ 
	color:#666666; 
	font-weight:bold;
	padding:6px 12px;
	float:left;
	border-left:2px solid transparent;
	
}

.pagination15 li a.first
{
	border-left:2px solid #5d5d5d;
}

.pagination15 li a.active,
.pagination15 li a:hover
{
	color:#f13eb3;
	border-left:2px solid #f13eb3 ;
	border-bottom:2px solid #f13eb3 ;
}


/*STYLE16*/
.pagination16
{
	background:#e9f4ff;
	height:32px;	
	border-right:3px solid #4096ee;
}
.pagination16 li		
{ 
	float:left; 
}
.pagination16 li a	
{ 
	color:#666666; 
	font-weight:bold;
	padding:6px 12px;
	float:left;
	border-left:3px solid transparent;
	
}

.pagination16 li a.first
{
	border-left:3px solid #4096ee;
}

.pagination16 li a.active,
.pagination16 li a:hover
{
	color:#4096ee;
	border-left:3px solid #4096ee ;
	
}



/*STYLE17*/
.pagination17 li		
{ 
	float:left;
	margin-right:5px;
	
}
.pagination17 li a	
{ 
	color:#f13eb3; 
	font-weight:bold;
	border:1px solid #f13eb3; 
	padding:4px 10px;
	float:left;
	
}

.pagination17 li a:hover	
{ 
	color:#ffffff;
	background:#f13eb3;
}
.pagination17 li a.active
{ 
	color:#ffffff;
	background:#f13eb3;
	border:1px solid #f13eb3;
	padding:10px 14px;
	margin:-6px 0 0;
}



/*STYLE18*/
.pagination18 li		
{ 
	float:left;
	margin-right:5px;
	border:2px solid transparent;
	
}
.pagination18 li a	
{ 
	color:#42b89a; 
	font-weight:bold;
	border:1px solid #76dfc4; 
	padding:4px 10px;
	float:left;
	
}

.pagination18 li.active a
{ 
	color:#ffffff;
	background:#76dfc4;
	border:1px solid #76dfc4;
}
.pagination18 li:hover,
.pagination18 li.active 
{
	border:2px solid #76dfc4;
}



/*STYLE19*/
.pagination19 li		
{ 
	float:left;
	margin-right:5px;
	
}
.pagination19 li a	
{ 
	color:#ff1a00; 
	padding:4px 10px;
	float:left;
	
}
.pagination19 li a:hover,
.pagination19 li a.active
{ 
	text-decoration:underline;
}



/*STYLE20*/
.pagination20 li		
{ 
	float:left;
	margin-right:5px;
	
}
.pagination20 li a	
{ 
	color:#f13eb3; 
	padding:4px 10px;
	float:left;
	border:1px solid #f13eb3;
	font-weight:bold;
	
}
.pagination20 li a.first,
.pagination20 li a.previous,
.pagination20 li a.next,
.pagination20 li a.last
{
	border:none;
}
.pagination20 li a.first:hover,
.pagination20 li a.previous:hover,
.pagination20 li a.next:hover,
.pagination20 li a.last:hover
{
	background:none;
	color:#666666;
}


.pagination20 li a:hover,
.pagination20 li a.active
{ 
	background:#f13eb3;
	color:#ffffff;
}




